{% extends "index.html" %}
{% block content %}
{% if messages %}
          <div class="alert-container position-relative">
            <div class="mt-3 position-absolute w-90" style=" top:0;z-index: 1050;">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} fade-out mb-3" role="alert";>
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
       
<div class="container mt-5">
    <h2 class="text-center">Update Destination</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'destination_update' destination.id %}" class="btn btn-secondary">Cancel</a>
    </div>
</div>

{% endblock %}